@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
    font-family: 'Metropolis Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Regular'), url('https://github.com/chrismsimpson/Metropolis/raw/master/Fonts/Webfonts/WOFF/Metropolis-Regular.woff') format('woff');
}


body{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #F57D1B;
    
}

.title{
    font-size: 5em;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.info-button{
    width: 1.4em;
    height: 1.4em;

    text-align: center;
    font-size: 4em;
    font-weight: 900;

    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: blue;
    transition: 0.5s;
}

.info-button:hover {
    opacity: 50%;
    border-radius: 4em;
}

.info-button:focus {
    outline: 0;
}

.info-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info{
    width: 70%;
    background-color: #FFC100;
    border-radius: 2em;
    margin: .3em .3em 2em .3em;
    padding: .3em .3em .3em .3em;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 900;
    transition: 0.5s;
}

.info-title{
    border-radius: .4em;
    font-size: 2.7em;
    font-family: 'Nanum Gothic', sans-serif;
    margin: .4em 0 .4em 0;
}

.criteria {
    height: 1.2em;
    width: 60%;
    font-size: 1em;
    border-radius: .2em;
    font-weight: 900;
    border: none;
    background-color: #FFC100;
    transition: 0.5s;
    padding: .1em 0 .1em .3em;
    font-family: 'Nanum Gothic', sans-serif;
}

.criteria:hover{
    background-color: #FFFFFF;
}

.criteria:focus{
    background-color: #FFFFFF;
    outline: none;
}

.info-time{
    font-size: 2em;
    margin: 0 0 1em 0;
}

.input-time{
    margin: .7em 0 0 0;
}

.time{
    font-size: 1em;
    font-weight: 900;
    border: none;
    border-radius: .2em;
    font-family: 'Nanum Gothic', sans-serif;
}

.start-time{
    margin: 0 2em 0 0;
}

.weekday-picker{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.3em 0 0 0;
}

.weekday{
    height: 2em;
    width: 7%;
    font-size: 1.3em;
    font-weight: 900;
    font-family: 'Metropolis Regular', sans-serif;
    margin: .3em .3em .3em .3em;
    border: none;
    border-radius: .3em;
    background-color: #FFFFFF;
    transition: 0.5s;
}

.weekday:focus{
    outline: none;
}

.button-active{
    background-color: #555555;
    transition: 0.5s;
}