@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #E0BBE4;
}

.title{
    font-size: 5em;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.info-button{
    width: 1.4em;
    height: 1.4em;

    text-align: center;
    font-size: 4em;
    font-weight: 800;

    background: none;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: #957DAD;
    transition: 0.5s;
    font-family: 'Open Sans', sans-serif;
}

.time-button{
    width: 6em;
    height: 1.9em;

    text-align: center;
    font-size: 1.7em;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;

    background-color: #FFFFFF;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    margin: 0 0 .3em 0;
    padding: .05em .05em .05em .05em;
    color: #F57D1B;
    transition: 0.5s;
}

.info-button:hover, .time-button:hover{
    opacity: 50%;
    border-radius: 4em;
}

.info-button:focus, .time-button:focus{
    outline: 0;
}

.info-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info{
    position: relative;
    width: 70%;
    background-color: #B19CD9;
    border-radius: 2em;
    margin: .3em .3em 2em .3em;
    padding: .3em .3em .3em .3em;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 900;
    transition: 0.5s;
    opacity: 100%;
}

.info-title{
    border-radius: .4em;
    font-size: 2.7em;
    font-family: 'Nanum Gothic', sans-serif;
    margin: .4em 0 .4em 0;
}

.criteria {
    height: 1.2em;
    width: 60%;
    font-size: 1em;
    border-radius: .2em;
    font-weight: 900;
    border: none;
    background: transparent;
    transition: 0.5s;
    padding: .1em 0 .1em .3em;
    font-family: 'Nanum Gothic', sans-serif;
}

.criteria:hover{
    background: #FFFFFF;
}

.criteria:focus{
    background: #FFFFFF;
    outline: 0;
}

.info-del{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #CCCCCC;
    font-size: 2.4em;
    font-weight: 900;
    border: none;
    background: transparent;
    transition: 0.5s;
    font-family: 'Open Sans', sans-serif;
}

.info-del:hover{
    opacity: 70%;
}

.info-del:focus{
    outline: 0;
}

.relative{
    position: relative;
}

.time-del{
    position: absolute;
    top: 1.3vh;
    right: 4.3vw;

    height: 1.5em;
    width: 1.5em;
    color: #FF0000;
    font-size: 2.4em;
    font-weight: 900;
    border: none;
    border-radius: 4em;
    background-color: #FFFFFF;
    transition: 0.5s;
    font-family: 'Open Sans', sans-serif;
}

.time-del:hover{
    opacity: 70%;
}

.time-del:focus{
    outline: 0;
}


.info-time{
    font-size: 2em;
    margin: 0 0 1em 0;
}

.input-time{
    margin: .7em 0 0 0;
}

.time{
    font-size: 1em;
    font-weight: 900;
    width: 5em;
    border: none;
    border-radius: .2em;
    padding: .2em .2em .2em .2em;
    font-family: 'Nanum Gothic', sans-serif;
}

.time:focus{
    outline: 0;
}

.start-time{
    margin: 0 2em 0 0;
}

.weekday-picker{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.3em 0 0 0;
}

.weekday, .load-info{
    height: 2em;
    width: 7%;
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: .3em .3em .3em .3em;
    cursor: pointer;
    border: none;
    border-radius: .3em;
    background-color: #FFFFFF;
    transition: 0.5s;
}

.load-info:hover{
    background-color: #CCCCCC;
    transition: 0.5s;
}

.weekday:focus, .load-info:focus{
    outline: none;
}

.button-active{
    background-color: #555555;
    color: #FFFFFF;
    transition: 0.5s;
}

.plan{
    margin: 2em 0 0 0;
}

.plan-head, .plan-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan-title{
    width: 9%;
    background-color: #FFFFFF;
    font-size: 2em;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-top-left-radius: .4em;
    border-bottom-right-radius: .4em;
    margin: .2em;
}

.plan-info{
    position: relative;
    width: 9%;
    background-color: #FFFFFF;
    font-size: 2em;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-top-left-radius: .4em;
    border-bottom-right-radius: .4em;
    margin: .2em;
}